<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ПРОЕКтттт(3)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dh-header-cover-image-button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Features-Small-Icons-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Hero-Clean-Reverse-images.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Lightbox-Gallery-No-Gutters-baguetteBox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Simple-Cover-cover.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Simple-Cover.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Simple-Slider-swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Simple-Slider.css') }}">
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Senifun" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
</head>

<body style="height: 100vh;">
    <div data-bss-parallax-bg="true" style="height: 100vh;background-image: url({{ url_for('static', filename='img/IMG_9110.png')}});background-position: center;background-size: cover;transform: perspective(110px) translate(0px);position: relative;">
        <a class="text-start hoverButton1" href="{{ url_for('mane') }}" style="transform: translate(0px) scale(0.94);width: 100vw;margin: 0;position: absolute;display: inline-grid;"><strong><span >SENIFUN</span></strong></a>
        <div class="text-start" style="width: 100vw;background: rgba(75,75,75,0.71);height: 210px;margin: 0px;transform: translate(0px);position: absolute;display: inline-grid;margin-left: 0;margin-top: 420px;margin-right: 0;margin-bottom: 0; bottom: 0"><small style="transform: translate(0px);font-weight: bold;font-size: 26px;margin-left: 20px;margin-right: 20px;height: 50px;">Как я буду себя чувствовать в этот момент?</small>
            <div>
                <div class="col"><a class="btn btn-primary btn-lg me-2" role="button" onclick='location.href=&quot;{{ url_for("history721") }}&quot;' href="#" style="background: var(--bs-warning-text-emphasis);--bs-primary: rgba(55,99,244,0);--bs-primary-rgb: 55,99,244;backdrop-filter: opacity(1);-webkit-backdrop-filter: opacity(1);border-width: 0px;font-size: 16px;margin: auto;margin-bottom: 50px;margin-right: 4px;">Я не буду переживать, спокойно повторю материал и напишу все, что знаю</a>
                    <div class="w-100" style="margin-bottom: -40px;"></div><a class="btn btn-primary btn-lg me-2 " role="button" onclick='location.href=&quot;{{ url_for("history72") }}&quot;'href="#" style="background: rgb(6,160,178);--bs-primary: rgba(55,99,244,0);--bs-primary-rgb: 55,99,244;backdrop-filter: opacity(1);-webkit-backdrop-filter: opacity(1);border-width: 0px;font-size: 16px;margin: auto;margin-bottom: 50px;margin-right: 4px;">Я буду очень волноваться и нервничать, не сумев повторить материал&nbsp;</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bold-and-dark.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Lightbox-Gallery-No-Gutters-baguetteBox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Lightbox-Gallery-No-Gutters-Lightbox-Gallery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Simple-Slider-swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Simple-Slider.js') }}"></script>
</body>

</html>